.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(159deg, rgba(0,71,171,1) 0%, rgba(28,169,201,1) 100%);
    padding: 10px 20px;
    width: 100%;
    color: white;
  }
  
  .header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .header .user-info {
    display: flex;
    align-items: center;
  }
  
  .header .username {
    margin-right: 10px;
  }
  
  .header .profile-pic {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }

  .user-info button{
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  