* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
  /* margin-left: 200px; /* Same as sidebar width */
  /* padding: 20px; */
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
